<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/me.css"/>
		
		<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
		
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
		<title>关于我</title>
	</head>
	<body>
		<!-- 导航 -->
		<nav class="ui inverted attach segment m-padded-tb-mini m-shadow-small">
			<!-- 菜单 -->
			<div class="ui container">
				<div class="ui secondary inverted stackable menu ">
					<!-- 标题 -->
					<h2 class="ui olive inverted header item">Blog</h2>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i> 分类</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
					<div class="right m-item item m-mobile-hide">
						<div class="ui icon inverted input ">
							<input type="text" placeholder="Search..."/>
							<i class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show "><i class="sidebar icon"></i></a>
		</nav>
		
		<!-- 中间内容 -->
		<div class="m-container-small m-padded-tb-big">
			<div class="ui container">
				<div class="ui stackable grid">
						<div class="eleven wide column">
							<div class="ui segment">
								<img src="../static/images/header.jpg" class="ui rounded image">
							</div>
						</div>
					<div class="five wide column">
						<div class="ui top attached segment">
							<div class="ui header">
								关于我
							</div>
						</div>
						<div class="ui attached segment">
							<p class="m-text">徐江宇，刚入行的菜鸟；一个终生学习者；对游戏忠贞</p>
							<p>热爱编程，喜欢折腾</p>
						</div>
						<div class="ui attached segment">
							<div class="ui orange basic label m-margin-bottom-small">
								编程
							</div>
							<div class="ui orange basic label m-margin-bottom-small">
								羽毛球
							</div>
							<div class="ui orange basic label m-margin-bottom-small">
								扯淡
							</div>
						</div>
						<div class="ui attached segment">
							<div class="ui teal basic label m-margin-bottom-small">
								Java
							</div>
							<div class="ui teal basic label m-margin-bottom-small">
								Scala
							</div>
							<div class="ui teal basic label m-margin-bottom-small">
								Mysql
							</div>
							<div class="ui teal basic label m-margin-bottom-small">
								...
							</div>
						</div>
						
						<div class="ui bottom attached segment">
							<a href="#" class="ui circular icon button"><i class="github icon"></i></a>
							<a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
							<a href="#" class="ui qq circular icon button " data-content="1123531160"><i class="qq icon"></i></a>
						</div>
						
						<div class="ui wechat-qr flowing popup transition hidden">
							<img src="../static/images/weixin.png" class="ui rounded image" style="width: 120px;">
						</div>
					</div>
				</div>
			</div>
		</div>
			
		
		<!-- 底部footer -->
		<footer class="ui inverted segment m-padded-tb-massive">
			<div class="ui center aligned container">
				
				<div class="ui inverted  stackable grid">
					<!-- 第一列 -->
					
					<di class="three wide column">
						<div class="ui inverted link list">
							<div class="ui item">
								<img src="../static/images/weixin.png" class="ui rounded image" style="width: 110px;">
							</div>
						</div>
					</di>
					
					<!-- 第二列 -->
					<di class="three wide column">
						<!-- 列表 -->
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事(User Story)</a>
							<a href="#" class="item">用户故事(User Story)</a>
							<a href="#" class="item">用户故事(User Story)</a>
						</div>
					</di>
					<!-- 第三列 -->
					<di class="three wide column">
						<!-- 列表 -->
						<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email：1123531160@qq.com</a>
							<a href="#" class="item">QQ:1123531160</a>
						</div>
					</di>
					<!-- 第四列 -->
					<di class="seven wide column">
						<!-- 列表 -->
						<h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
						<p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客</p>
					</di>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2016-2017 Blog Designed by Blog</p>
			</div>
		</footer>
	</body>
	
	<script type="text/javascript">
		$('.menu.toggle').click(function(){
			$('.m-item').toggleClass('m-mobile-hide');
		});
		
		$('.qq').popup();
		$('.wechat').popup({
			popup:$('.wechat-qr'),
			on:'hover',
			position:'bottom center'
		});
	</script>
</html>
